<app-search-item></app-search-item>

<div>
  <app-back></app-back>
</div>
<div class="button-big-space">
  <div class="tui-text_body-xl big-top-space tui-space_bottom-3">
    Active Plans
  </div>
  <div *ngIf="this.steps">
    <!--  TODO modifica ling-->
    <div *ngFor="let s of this.steps" class="tui-space_bottom-5">
      <a size="m" (click)="goToStep(s)" tuiIsland [hoverable]="true">
        <div class="tui-island__content active-plans-island">
          <div class="spacy-children-row">
            <div>
              <div class="tui-island__category">
                {{ s.planName }}
              </div>
              <h3 class="tui-island__title ter-color">{{ s.title }}</h3>
            </div>

            <div class="prim-color even-little-padding">
              <p>{{ s.getFormatted(s.endDateCorr) }}</p>
            </div>
          </div>

          <figure class="tui-island__figure">
            <tui-avatar
              size="m"
              [rounded]="true"
              [avatarUrl]="s.imageUrl"
              class="shadow-light"
            ></tui-avatar>
          </figure>

          <div></div>
        </div>
      </a>
    </div>
  </div>
</div>

<app-footer-tabs [index]="this.activeItemIndex"></app-footer-tabs>
