<button
  tuiIconButton
  type="button"
  appearance="icon"
  size="m"
  icon="tuiIconChevronLeftLarge"
  class="back-button"
  (click)="back()"
></button>

<div class="">
  <div class="tui-space_bottom-10">
    <div class="tui-text_body-l class">Last step!</div>
    <div class="tui-text_h4 class ter-color">Select your interests</div>
  </div>
  <div class="interest-container" class="wrapper1 tui-space_bottom-10">
    <div
      *ngFor="let i of interests"
      class="center-children"
      (click)="clicky(i)"
    >
      <tui-avatar
        [ngClass]="{ shadow: i.isActive === true }"
        class="tui-space_top-1 pre-trans"
        size="l"
        [avatarUrl]="i.imageUrl"
        style="cursor: pointer"
      ></tui-avatar>
      <p
        [ngStyle]="{
          color: i.isActive === true ? 'var(--prim-custom)' : 'black'
        }"
      >
        {{ i.name }}
      </p>
    </div>
  </div>
  <div class="center-children tui-space_bottom-10 tui-space_top-5">
    <button
      tuiButton
      type="button"
      appearance="primary-custom"
      (click)="completeUserAccount()"
    >
      Confirm
    </button>
  </div>
</div>
