.outer-container {
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  padding-top: 5vh;
  align-self: center;
  height: 100vh;
  position: relative;
}

.expanded-img {
  max-width: 100%;
  height: auto;
}

.medium-img {
  max-width: 50%;
  height: auto;
}

.small-img {
  max-width: 30%;
  height: auto;
}

.center-children {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.center-children-row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.spacy-children-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.right-children {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
}

.left-children {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.two-button {
  display: flex;
  justify-content: space-between;
}

.button-big-space {
  padding-bottom: 15vh;
}

.sub-page {
  /* top: 0;
  left: 0;
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: absolute;
  display: grid;
  align-content: space-between;
  height: 90vh; */
}

.sub-page-compress {
  /* top: 0;
  left: 0;
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  padding-top: 5vh;
  padding-bottom: 5vh;
  position: absolute;
  display: grid;
  align-content: flex-start;
  height: 90vh; */
}

.back-button {
  position: absolute !important;
  /* margin-left: -12.5vw; */
}

.absolute {
  float: right;
}

.moving {
  transform: translate(16px, 0);
}

.in-row {
  white-space: nowrap; /* [1] */
  overflow-x: auto; /* [2] */
  overscroll-behavior-x: initial;
  /* -webkit-overflow-scrolling: touch; [3] */
}

.elems {
  display: inline-block;
  text-align: center;
  padding: 18px;
  vertical-align: top;
}

.elems-tag {
  display: inline-block;
  text-align: center;
  padding: 18px 0 18px 18px;
  vertical-align: top;
}

.plans-show {
  /* inline-size: 64px; */
  white-space: normal;
}

.tabs {
  position: fixed !important;
  background-color: white;
  z-index: 999;
  width: 75vw;
  left: 0;
  bottom: 0;
  padding-left: 12.5vw;
  padding-right: 12.5vw;
  box-shadow: 0px 0px 21px 9px rgba(0, 0, 0, 0.05) !important;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gainsboro;
}

.tabs tui-underline {
  top: 0;
  height: 2px !important;
  color: var(--prim-custom-dark);
  width: 60px !important;
  left: -16px;
  border-radius: 0 0 1px 1px;
}

.tabs ._active {
  color: var(--prim-custom-dark) !important;
}

._active .footer-icon > * {
  stroke-width: 24;
}

.footer-icon {
  width: 32;
  height: 32;
}

.footer-icon > path,
line,
circle {
  stroke: currentColor !important;
}

.big-top-space {
  margin-top: 60px;
}

.big-footer-space {
  margin-top: 120px;
}

.sec-wrapper {
  background: var(--sec-custom); /*var(--sec-custom-light);*/
  color: var(--ter-custom);
}

.top-align {
  align-self: flex-start;
}

.active-plans-island * {
  margin: 0 !important;
}

.active-plans-island .spacy-children-row {
  width: 100%;
}

.even-little-padding {
  padding-left: 10px;
  padding-right: 10px;
}
