<tui-root>
  <div class="outer-container">
    <router-outlet style="position:relative;"></router-outlet>
  </div>
</tui-root>

















 <!--    
  <form [formGroup]="form">
    <p>
      <tui-input formControlName="email">
        Type an email
      </tui-input>
      
      <tui-field-error formControlName="email"></tui-field-error>
    </p>
    <p>
      <tui-input formControlName="firstName" class="b-form">
        Type an firstName
      </tui-input>
    </p>
    <p>
      <tui-input formControlName="lastName" class="b-form">
        Type an lastName
      </tui-input>
    </p>
    <p>
      <tui-input-password formControlName="password">
        Type a password
      </tui-input-password>
    </p>
    <p>
      <tui-checkbox-block formControlName="agreeToToC">
        agreeToToC
      </tui-checkbox-block>
    </p>
    <p> <button tuiButton type="button" background-color=-tui-base-02 (click)="exportIDs()">
        Button
      </button></p>
  </form>

  <app-login-fields [Ids]="Ids"></app-login-fields>
  -->
