<p>Full adaptive layout (3 states)</p>
<div class="tui-container tui-container_adaptive tui-container_example">
    <div class="tui-row tui-row_adaptive">
    
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        
    </div>
    <div class="tui-row tui-row_adaptive tui-row_example tui-row_align_center">
    
        <div class="tui-col_xs-1 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-7 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        <div class="tui-col_xs-3 tui-col_md-1 tui-col_lg-1">
            <div class="dummy"></div>
        </div>
        
    </div>
</div>